In [ ]:
# Which 10 companies make the most money?
"""
SELECT 
    c.company,
    ROUND(SUM(t.trip_total), 2) AS total_fare
FROM 
    "chicago_taxi_db"."taxi_trips" t
INNER JOIN 
    "chicago_taxi_db"."company" c
    ON c.company_id = t.company_id
GROUP BY 
    c.company
ORDER BY 
    total_fare DESC
LIMIT 
    10;
"""

In [ ]:
# Show the 10 pickup community areas with the most rides.
"""
SELECT 
    c.community_name,
    COUNT(t.trip_id) AS rides
FROM 
    "chicago_taxi_db"."taxi_trips" t
INNER JOIN 
    "chicago_taxi_db"."community_areas" c
    ON c."area code" = t.pickup_community_area_id
GROUP BY 
    c.community_name
ORDER BY 
    rides DESC
LIMIT 
    10;
"""

In [ ]:
# Get the count of taxi rides per day of week. In other words, we'd like to see which day has the most rides. 
""" 
SELECT 
    COUNT(t.trip_id) AS rides,
    CASE 
        WHEN d.dayofweek = 1 THEN 'Monday'
        WHEN d.dayofweek = 2 THEN 'Tuesday'
        WHEN d.dayofweek = 3 THEN 'Wednesday'
        WHEN d.dayofweek = 4 THEN 'Thursday'
        WHEN d.dayofweek = 5 THEN 'Friday'
        WHEN d.dayofweek = 6 THEN 'Saturday'
        WHEN d.dayofweek = 7 THEN 'Sunday'
    END AS daynames
FROM 
    "chicago_taxi_db"."date" d
INNER JOIN 
    "chicago_taxi_db"."taxi_trips" t
    ON d."date" = t.datetime_for_weather
GROUP BY 
    d.dayofweek
ORDER BY 
    MIN(d.dayofweek);
"""